<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layout/header') -%>
</head>
<body>
    <div>
        <h1>
            <div class="container">
                <div class="jumbotron">
                    <p>ComicFy (Admin page)</p>
                </div>
            </div>
            <div class = "container">
            </div>
            <div class = "container bg-light rounded">
                <%- include ('layout/add_category_form') -%>
            </div>
            <div class = "container bg-light rounded">
                <%- include ('layout/add_comic') -%>
            </div>
            <div class = "container bg-light rounded">
                <%- include ('layout/update_eps_for_comic') -%>
            </div>
        </h1>
    </div>
</body>
</html>