<div class = "mt-4">
    <form action="http://localhost:4000/createCategory" method="post">
        <p class="fs-3">Add category only</p>
        <div>
            <label for="category" class="form-label fs-6">Category</label>
            <input type="text" name = "category" class="form-control" placeholder="category...">
        </div>
        <div>
            <input type="submit" class = "btn btn-md text-light bg-primary" value = "add category">
        </div>
    </form>
</div>


